header.page_header
  .header_logo
    a(href="http://127.0.0.1:8000/")
      img(src="/img/header_logo.svg" alt="Dadabase Logo")
  nav.header_nav
    a.nav__el(href="http://127.0.0.1:8000/") Try
    a.nav__el(href="http://127.0.0.1:8000/") Docs
    a.nav__el(href="http://127.0.0.1:8000/") Donate
    .vert__divider
    a.nav__el(href="http://127.0.0.1:8000/login") Log In
    a.nav_cta.brown__btn(href="#") Sign Up