header.header
  a(href='/')
    .header_logo
      img(src='/img/header_logo.svg' alt='Dadabase Logo')
  nav.nav_main
    a.nav_el(href='#') Try It
    a.nav_el(href='#') Docs
    a.nav_el(href='#') Donate
  .nav_divider
  nav.nav_user
    a.nav_el(href='#') Log In
    a.nav_signup(href='#') Sign Up