header.page_header
  .header_logo
    img(src="/img/header_logo.svg" alt="Dadabase Logo")
  nav.header_nav
    a.nav__el(href="#") Try It
    a.nav__el(href="#") Docs
    a.nav__el(href="#") Donate
    .vert__divider
    a.nav__el(href="#") Log In
    a.nav__el.nav_cta.brown__btn(href="#") Sign Up