header.page_header
  .header_logo
    a(href="http://127.0.0.1:8000/")
      img(src="/img/header_logo.svg" alt="Dadabase Logo")
  nav.header_nav
    a.nav__el(href="http://127.0.0.1:8000/") Try
    a.nav__el(href="http://127.0.0.1:8000/") Docs
    a.nav__el(href="http://127.0.0.1:8000/") Donate
    .vert__divider
    if user
      - const firstName = user.name.split(" ")[0]
      - const capFirstName = firstName.charAt(0).toUpperCase() + firstName.slice(1)
      p= `Welcome, ${capFirstName}`
      a.nav_cta.brown__btn(href="#") Log Out
    else
      a.nav__el(href="http://127.0.0.1:8000/login") Log In
      a.nav_cta.brown__btn(href="#") Sign Up