doctype html
html
  head
    block head
      meta(charset='UTF-8')
      meta(name='viewport' content='width=device-width, initial-scale=1.0')
      link(rel='stylesheet' href='/css/style.css')
      link(rel='shortcut icon' type='image/svg+xml' href='/img/fav_icon.svg')
      link(rel="preconnect" href="https://fonts.googleapis.com")
      link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
      link(href="https://fonts.googleapis.com/css2?family=Funnel+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet")
      link(rel="stylesheet" href="https://use.typekit.net/idj7otu.css")
      script(type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js")
      script(nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js")
      title Dadabase | #{title}

  body
    // HEADER
    include _header

    // CONTENT
    block content

    // FOOTER
    include _footer

    if page === "/"
      script(src='/js/script.js')
    else if page === "/login"
      script(src='/js/login.js')
    else if page === "/signup"
      script(src='/js/signup.js')
    else if page === `/resetpassword/${token}`
      script(src='/js/reset.js')