extends base

block content
  section.hero
    .hero_left
      img(src="/img/hero_image.svg" alt="Laughing Emojies")
    .hero_right
      .cta
        .cta_content
          h2 
            | Why did the user sign up? . . . Because it was free.
            br
            | (And they love dad jokes.)
          p.
            By signing up, you will gain the ability to
            submit your best dad jokes to the Dadabase.
            Submitted jokes are reviewed to assure that
            only the highest quality jokes are available
            for all the dads (and others) out there.
        form.cta_form
          label Email
          input.cta_email(type="email" placeholder="dad@thedadabase.net" required)
          .cta_submition
            input.cta_submit.brown__btn(type="submit" value="Sign Up")
            .vert__divider
            p It's Free
  
  section.try
    .try_title
      h1 Try It
      .vert__divider
      h2 
        | Press the button! No tools required
        br
        | dads will be jealous.
    .try_content
      .content__container
        p Retrieve a random dad joke in JSON format from the Dadabase:
        .send_container
          .endpoint_container
            p.get GET
            p https://thedadabase.net/api/joke/
          button.send_req Send Request
        p Below is an example response:
        .response_container
          pre
            code.
              {
                "Response": "Example Response... kidding, click the button!"
              }
        p.
          Explore the documentation below to learn more about the various API
          calls you can make to the Dadabase.

  section.docs
    .docs_title
      h1 Docs
      .vert__divider
      h2 
        | Because 'winging it' only works for
        br
        | BBQ, not APIs.
    .docs_content
      .content__container
        p.
          APIs are only as good as the documentation available.
          Select a drop down below to read more about a specific
          category.
        .auth.category__header
          h2 Authorization
          ion-icon(name="chevron-forward-outline")
        .auth_content.content
          p
            | Getting started, if you want to put those creative juices to the test - you
            | have to be signed in. If you have something against GUIs feel free to
            | sign up using the API.
            br
            br
            | To sign up send a request to the following endpoint:

          .sign_up.endpoint__header
            .endpoint__header-left
              p.post POST
              p https://thedadabase.net/api/user/signup/
            ion-icon(name="chevron-forward-outline")
          .sign_up_endpoint.endpoint_content
            p.
              In the body of the post request you will need to provide four fields, your
              name, your email, your password, and you must confirm your password. Here
              is an example: 
            .example_container
              pre
                code.
                  {
                    “name”: “papa jim”,
                    “email: ”papajim@thedadabase.net”,
                    “password”: “example1234!”,
                    “passwordConfirm: ”example1234!”
                  }
            p.
              If you did everything correctly, you will get return response from the
              Dadabase with your newly created account and authentication token.
              In postman for example, you can use this as a bearer token to
              authenticate with any following calls that require authentication.
            p 
            p Here is an example of the return resonse when signing up:
            .example_container
              pre
                code.
                  {
                    "status": "success",
                      "token": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.e
                    yJpZCI6IjY3YjU0NDc4ZGQwYzFkYTA0ZTY5NjJkNiIsImlhd
                    CI6MTczOTkzMjc5MiwiZXhwIjoxNzM5OTM0NTkyfQ.h0Cx18
                    xXh4uu1azsnU1D379yDvLGBhqUDFKm0aBC5Qs",
                    "data": {
                          "user": {
                              "name": "papa jim",
                              "email": "papajim@thedadabase.net",
                              "role": "user",
                              "_id": "67b54478dd0c1da04e6962d6"
                          }
                    }
                  }

          .login.endpoint__header
            .endpoint__header-left
              p.post POST
              p https://thedadabase.net/api/user/login/
            ion-icon(name="chevron-forward-outline")
          .login_endpoint.endpoint_content
            p.
              If you've already created an account, you can use the login
              endpoint to get an authentication token. Below is an example
              of a login request:
            .example_container
              pre
                code.
                  {
                      "email": "papajim@thedadabase.net",
                      "password": "example!"
                  }
            p.
              Assuming you remembered your login information and signed in
              successfully, you will get a response containing your 
              authorization token. Here is an example response:
            .example_container
              pre
                code.
                  {
                      "status": "success",
                      "token": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6IjY3YTY1ODVkZmE1NTI3MTM3YmNjNjZjZCIsImlhdCI6MTc0MDk2MjM3NSwiZXhwIjoxNzQwOTY0MTc1fQ.exd7zSK0nkS0XTsGcSlSEn0Bsf911TfW27sxLluoor4",
                      "data": {
                          "user": {
                              "_id": "67a6585dfa5527137bcc66cd",
                              "name": "papa jim",
                              "email": "papjim@thedadabase.net",
                              "role": "user",
                          }
                      }
                  }

          .forgot.endpoint__header
            .endpoint__header-left
              p.post POST
              p https://thedadabase.net/api/user/forgotPassword/
            ion-icon(name="chevron-forward-outline")
          .forgot_endpoint.endpoint_content
            p.
              It happens to the best of us, you forgot your password. Lucky for you
              this is easy to resolve. Simply send a request to the forgot password
              endpoint with the email address for the account. Here is an example:
            .example_container
              pre
                code.
                  {
                    "email": "papajim@thedadabase.net"
                  }
            p.
              If an account is found with that email address this request will prompt
              a password reset email to be sent out. Sign into the email you provided
              to retrieve your password reset link. Simple as that!

        .jokes.category__header
          h2 Jokes
          ion-icon(name="chevron-forward-outline")
        .jokes_content.content
          p
            | This is what you are here for. The best dad jokes collected and stored in
            | the Dadabase for your laughing pleasure. You have a couple options to choose
            | from when requesting a top teir dad joke.
            br
            br
            | Select one of the endpoints below to learn more:
          .random_joke.endpoint__header
            .endpoint__header-left
              p.get GET
              p https://thedadabase.net/api/joke/
            ion-icon(name="chevron-forward-outline")
          .random_joke_endpoint.endpoint_content
            p.
              You want a random laugh, you're in the right place. Use this endpoint to
              get a random dad joke. No authentication or parameters needed. Simply send
              a request to this endpoint and it will return a random dad joke. Here is an
              example response:
            .example_container
              pre
                code.
                  {
                    "status": "success",
                    "joke": {
                      "_id": "67b22dd134ffc1a244666c8e",
                      "joke": "Why does the Norwegian navy have barcodes on the side on their ships? So they can Scandinavian...",
                      "dad": {
                        "_id": "67a67e614c287136f43df153",
                        "name": "papa jim",
                      },
                      "tags": [
                        "norwegian",
                        "barcodes",
                        "ships",
                        "scandinavian"
                      ]
                    }
                  }

          .tag_joke.endpoint__header
            .endpoint__header-left
              p.get GET
              p https://thedadabase.net/api/joke?tags=
            ion-icon(name="chevron-forward-outline")
          .tag_joke_endpoint.endpoint_content
            p.
              If you are looking for a more specific joke, use this endpoint. This endpoint
              allows you to specify tags to search for jokes that match those tags. Here is
              an example of the endpoint with tags specified:
            .example_container
              pre
                  code.
                    https://thedadabase.net/api/joke?tags=cows,hooves
            p.
              This will return a joke that matches one or more of the tags speficied. Below
              is an example response:
            .example_container
              pre
                  code.
                    {
                      "status": "success",
                      "jokes": [
                        {
                          "_id": "67b25e8f5cd70e18f55b474c",
                          "joke": "Why do cows have hooves instead of feet? Because they lactose!",
                          "dad": {
                              "_id": "67a6585dfa5527137bcc66cd",
                              "name": "pap jim",
                          },
                          "tags": [
                              "cows",
                              "feet",
                              "milk",
                              "lactose"
                          ]
                        }
                      ]
                    }

          .daily_joke.endpoint__header
            .endpoint__header-left
              p.get GET
              p https://thedadabase.net/api/joke/dailyjoke
            ion-icon(name="chevron-forward-outline")
          .daily_joke_endpoint.endpoint_content
            p.
              This endpoint is pretty self explaintory. Every day the Dadabase team will select
              a joke of the day. When sending a request to this endpoint you will get the
              selected joke of the day. If you feel like you have a joke worthy of joke of the
              day, use the next endpoint to submit your jokes!

          .submit_joke.endpoint__header
            .endpoint__header-left
              p.post POST
              p https://thedadabase.net/api/joke/submit
            ion-icon(name="chevron-forward-outline")
          .submit_joke_endpoint.endpoint_content
            p.
              This is your chance to make the world a funnier place. Submit best jokes using
              this endpoint. After authenticating, simply send a post request to this endpoint
              with a "joke" value in the body. Here is an example:
            .example_container
              pre
                  code.
                    {
                      "joke": "I just found out I’m colorblind. The news came out of the purple!"
                    }
            p.
              Submitted jokes go into the submittion queue to be reviewed for quality and appropriate
              content. After sending your authenticated post request you will recive a request like
              the following:
            .example_container
              pre
                  code.
                    {
                      "status": "success",
                      "joke": {
                        "_id": "67c8f47b8675fc539fbe3873",
                        "joke": "I just found out I’m colorblind. The news came out of the purple!",
                        "dad": {
                            "_id": "67a6585dfa5527137bcc66cd",
                            "name": "pap jim",
                        },
                        "tags": [],
                        "status": "review"
                      }
                    }
        if user && user.role === "admin"
          .admin.category__header
            h2 Administration
            ion-icon(name="chevron-forward-outline")
          .admin_content.content

  section.donate
    .donate_title
      h1 Donate
      .vert__divider
      h2 
        | Because laughter is free,
        br
        | but servers aren’t!
    .donate_content
      .donate_left
        .donate_text
          p
            | Writing in third person is weird; so this next
            | little bit is directed from me, the author.
            br
            br
            | The Database project is a simple practice
            | project that I used to get more familiar with
            | JavaScript, Node.Js, and many other things
            | involving vanilla web development. I love dad
            | jokes and lots of people around me, 
            | including my dad, love them too. So I thought
            | what better way to practice web development
            | than with something I enjoy. 
            br
            br
            | Donating is not nessecary at all - but if you
            | choose to, it is EXTREMLY appreciated. Thanks
            | for your support
            br
            br
            |   - Alex 
          .horz__divider
          button.send_req Donate
      .donate_right
        img(src="/img/donate_logo.svg" alt="Laughing Emojies")