extends base

block content
  main.main
    section.section_hero
      .hero_image
        img(src='/img/hero_image.svg' alt='Laughing Emojis')
      .hero_cta
        .cta
          .cta_text
            h2 
              | Why did the user sign up? . . . Because it was free.
              br
              | (And they love dad jokes.)
            p.
              By signing up, you will gain the ability to
              submit your best dad jokes to the Dadabase.
              Submitted jokes are reviewed to assure that
              only the highest quality jokes are available
              for all the dads (and others) out there. 
          .cta_form
            form.signup_form
              label Email
              input.email_input(type="text" id="email" name="email" placeholder="papajim@example.com")
            .btn_container
              input.cta_signup_btn(type="submit" value="Sign Up")
              .cta_divider
              p Its Free
    section.section_try
      .section_try_title
        h1.try_title Try It
        .title_divider
        h2.title_joke
          | Press the button! No tools required
          br
          | dads will be jealous
      .section_try_body