extends base

block content
  section.hero
    .hero_left
      img(src="img/hero_image.svg" alt="Laughing Emojies")
    .hero_right
      .cta
        .cta_content
          h2 
            | Why did the user sign up? . . . Because it was free.
            br
            | (And they love dad jokes.)
          p.
            By signing up, you will gain the ability to
            submit your best dad jokes to the Dadabase.
            Submitted jokes are reviewed to assure that
            only the highest quality jokes are available
            for all the dads (and others) out there.
        form.cta_form
          label Email
          input.cta_email(type="email" placeholder="dad@thedadabase.net" required)
          .cta_submition
            input.cta_submit.brown__btn(type="submit" value="Sign Up")
            .vert__divider
            p It's Free
  
  section.try
    .try_title
      h1 Try It
      .vert__divider
      h2 
        | Press the button! No tools required
        br
        | dads will be jealous.
    .try_content
      .content__container
        p Retrieve a random dad joke in JSON format from the Dadabase:
        .send_container
          .endpoint_container
            p.get GET
            p https://thedadabase.net/api/joke/
          button.send_req Send Request
        p Below is an example response:
        .response_container
          pre
            code.
              {
                "Response": "Example Response... kidding, click the button!"
              }
        p.
          Explore the documentation below to learn more about the various API
          calls you can make to the Dadabase.

  section.docs
    .docs_title
      h1 Docs
      .vert__divider
      h2 
        | Because 'winging it' only works for
        br
        | BBQ, not APIs.
    .docs_content
      .content__container
        p.
          APIs are only as good as the documentation available.
          Select a drop down below to read more about a specific
          category.
        .auth.category__header
          h2 Authorization
          ion-icon(name="chevron-forward-outline")
        .auth_content.content
          p
            | Getting started, if you want to put those creative juices to the test - you
            | have to be signed in. If you have something against GUIs feel free to
            | sign up using the API.
            br
            br
            | To sign up send a request to the following endpoint:

          .sign_up.endpoint__header
            .endpoint__header-left
              p.post POST
              p https://thedadabase.net/api/user/signup/
            ion-icon(name="chevron-forward-outline")
          .sign_up_endpoint.endpoint_content
            p.
              In the body of the post request you will need to provide four fields, your
              name, your email, your password, and you must confirm your password. Here
              is an example: 
            .example_container
              pre
                code.
                  {
                    “name”: “papa jim”,
                    “email: ”papajim@thedadabase.net”,
                    “password”: “example1234!”,
                    “passwordConfirm: ”example1234!”
                  }
            p.
              If you did everything correctly, you will get return response from the
              Dadabase with your newly created account and authentication token.
              In postman for example, you can use this as a bearer token to
              authenticate with any following calls that require authentication.
            p 
            p Here is an example of the return resonse when signing up:
            .example_container
              pre
                code.
                  {
                    "status": "success",
                      "token": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.e
                    yJpZCI6IjY3YjU0NDc4ZGQwYzFkYTA0ZTY5NjJkNiIsImlhd
                    CI6MTczOTkzMjc5MiwiZXhwIjoxNzM5OTM0NTkyfQ.h0Cx18
                    xXh4uu1azsnU1D379yDvLGBhqUDFKm0aBC5Qs",
                    "data": {
                          "user": {
                              "name": "papa jim",
                              "email": "papajim@thedadabase.net",
                              "role": "user",
                              "_id": "67b54478dd0c1da04e6962d6"
                          }
                    }
                  }

          .login.endpoint__header
            .endpoint__header-left
              p.post POST
              p https://thedadabase.net/api/user/login/
            ion-icon(name="chevron-forward-outline")
          .login_endpoint.endpoint_content
            p.
              If you've already created an account, you can use the login
              endpoint to get an authentication token. Below is an example
              of a login request:
            .example_container
              pre
                code.
                  {
                      "email": "papajim@thedadabase.net",
                      "password": "example!"
                  }
            p.
              Assuming you remembered your login information and signed in
              successfully, you will get a response containing your 
              authorization token. Here is an example response:
            .example_container
              pre
                code.
                  {
                      "status": "success",
                      "token": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6IjY3YTY1ODVkZmE1NTI3MTM3YmNjNjZjZCIsImlhdCI6MTc0MDk2MjM3NSwiZXhwIjoxNzQwOTY0MTc1fQ.exd7zSK0nkS0XTsGcSlSEn0Bsf911TfW27sxLluoor4",
                      "data": {
                          "user": {
                              "_id": "67a6585dfa5527137bcc66cd",
                              "name": "papa jim",
                              "email": "papjim@thedadabase.net",
                              "role": "user",
                          }
                      }
                  }

          .forgot.endpoint__header
            .endpoint__header-left
              p.post POST
              p https://thedadabase.net/api/user/forgotPassword/
            ion-icon(name="chevron-forward-outline")
          .forgot_endpoint.endpoint_content
            p Forgot password endpoint documentation goes here.

          .reset.endpoint__header
            .endpoint__header-left
              p.patch PATCH
              p https://thedadabase.net/api/user/resetPassword/
            ion-icon(name="chevron-forward-outline")
          .reset_endpoint.endpoint_content
            p Reset password endpoint documentation goes here.

        .jokes.category__header
          h2 Jokes
          ion-icon(name="chevron-forward-outline")
        .jokes_content.content

        .admin.category__header
          h2 Administration
          ion-icon(name="chevron-forward-outline")
        .admin_content.content
