extends base

block content
  section.hero
    .hero_left
      img(src="img/hero_image.svg" alt="Laughing Emojies")
    .hero_right
      .cta
        .cta_content
          h2 
            | Why did the user sign up? . . . Because it was free.
            br
            | (And they love dad jokes.)
          p.
            By signing up, you will gain the ability to
            submit your best dad jokes to the Dadabase.
            Submitted jokes are reviewed to assure that
            only the highest quality jokes are available
            for all the dads (and others) out there.
        form.cta_form
          label Email
          input.cta_email(type="email" placeholder="dad@thedadabase.net" required)
          .cta_submition
            input.cta_submit.brown__btn(type="submit" value="Sign Up")
            .vert__divider
            p It's Free
  
  section.try
    .try_title
      h1 Try It
      .vert__divider
      h2 
        | Press the button! No tools required
        br
        | dads will be jealous.
    .try_content
      .content__container
        p Retrieve a random dad joke in JSON format from the Dadabase:
        .send_container
          .endpoint_container
            p.get GET
            p https://thedadabase.net/api/joke/
          button.send_req Send Request
        p Below is an example response:
        .response_container
          pre
            code.
              {
                “Response”: “Example Response... kidding, click the button!”
              }
        p.
          Explore the documentation below to learn more about the various API
          calls you can make to the Dadabase.

  section.docs
    .docs_title
      h1 Docs
      .vert__divider
      h2 
        | Because ‘winging it’ only works
        br
        | for BBQ, not APIs.
    .docs_content
      .content__container
        p.
          APIs are only as good as the documentation available.
          Select a drop down below to read more about a specific
          category.
        .auth.category_header
          h2 Authorization
          ion-icon(name="chevron-forward-outline")
        .auth_content
          p
            | Getting started, if you want to put those creative juices to the test - you
            | have to be signed in first. If you have something against GUIs feel free to
            | sign up using the API.
            br
            br
            | To sign up send a request to the following endpoint:

        .jokes.category_header
          h2 Jokes
          ion-icon(name="chevron-forward-outline")
        .jokes_content

        .admin.category_header
          h2 Administration
          ion-icon(name="chevron-forward-outline")
        .admin_content
