extends base

block content
  section.login_section
    .login_left
    .login_right
    .login_container
      .login_img
        img(src="img/login_logo.svg" alt="Laughing Emojies")
      .login_form
        form
          label Email
          input.login_email(type="email" placeholder="dad@thedadabase.net" required)
          label Password
          input.login_pass(type="password" required)
          .login_submition
            input.login_submit.brown__btn(type="submit" value="Login" id="loginButton")
            .vert__divider
            p Fogot Password