body {
  font-weight: 300;
  font-family: "Funnel Sans", sans-serif;
  margin: 0;
}

h2 {
  font-size: 2rem;
}

p,
label,
input::placeholder,
input {
  font-size: 1.5rem;
}

/*==================================
          HEADER STYLES
====================================*/
.header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 8rem;
  gap: 2rem;
  /* border: 1px solid red; */
}

.header_logo img {
  height: 3.5rem;
  margin-right: 13rem;
}

.nav_main {
  margin-left: 5rem;
  display: flex;
  align-items: center;
  gap: 2rem;
  /* border: 1px solid red; */
}

.nav_el,
.nav_el:link,
.nav_el:visited {
  font-family: inherit;
  font-weight: 300;
  font-size: 1.5rem;
  text-decoration: none;
  color: #311713;
  transition: all 0.3s;
}

.nav_el:hover {
  box-shadow: 0 2px 0 #311713;
}

.nav_signup {
  margin-left: 1.5rem;
  padding: 0.3rem 1rem 0.5rem 1rem;
  border-radius: 0.5rem;
  color: white;
  background-color: #311713;
  font-family: inherit;
  font-weight: 300;
  font-size: 1.4rem;
  text-decoration: none;
  transition: all 0.2s;
}

.nav_signup:hover {
  color: #311713;
  outline: 2px solid #311713;
  background-color: white;
}

.nav_divider {
  background-color: #311713;
  height: 2rem;
  width: 1px;
}

/*==================================
          BODY STYLES
====================================*/

.section_hero {
  display: flex;
  height: 50rem;
}

.hero_image {
  width: 49%;
  display: flex;
  align-items: center;
  justify-content: right;
  background-image: url("/img/hero_background.svg"); /* Replace with your SVG */
  background-repeat: repeat; /* Ensures the SVG tiles */
  background-size: auto;
}

.hero_image img {
  height: 45rem;
  padding-right: 3.5rem;
}

.hero_cta {
  width: 55%;
  display: flex;
  align-items: center;
  justify-content: left;
}

.cta {
  display: flex;
  flex-direction: column;
  height: 70%;
  width: 30rem;
  margin-left: 7rem;
}

.cta_text,
.cta_form {
  flex: 1;
}

.cta_text h2 {
  margin-top: 0;
}

.cta_form,
.signup_form {
  display: flex;
  flex-direction: column;
}

.email_input {
  width: 26rem;
  height: 3rem;
  border-radius: 0.5rem;
  border: 1px solid #311713;
  margin-top: 0.7rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.email_input::placeholder {
  color: #b2b2b2;
}

.btn_container {
  margin-top: 1rem;
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 2rem;
}

.cta_signup_btn {
  height: 3rem;
  border-radius: 0.5rem;
  background-color: #311713;
  color: white;
  padding-left: 3rem;
  padding-right: 3rem;
  font-size: 1.4rem;
}

.cta_divider {
  background-color: #311713;
  height: 2.2rem;
  width: 1px;
}

/*==================================
          FOOTER STYLES
====================================*/

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 8rem;
  gap: 1rem;
  /* border: 1px solid red; */
}

.footer_divider {
  background-color: #311713;
  height: 2px;
  width: 65vw;
}

.footer_content {
  /* border: 1px solid red; */
  display: flex;
  align-items: center;
  gap: 2rem;
}

.footer_logo img {
  height: 2.5rem;
}

.trademark {
  font-size: 1.4rem;
  margin: 0;
}
